@model Apotek.ViewModels.CatIndexVm

@{
    ViewBag.Title = "Index";
}

<h2>All Categories</h2>

<table class="table">
    <tr>
        <th>Category</th>
        <th>Description</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>@Html.ActionLink(item.CategoryName, "View", "Product", 
                    new { id = item.CategoryId }, null)</td>
            <td>@item.CategoryDescription</td>
            @if (Request.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink(" Edit  ", "Edit", 
                        new { id = item.CategoryId }, 
                        new {}) | 
                    @Html.ActionLink(" Remove ", "Delete", 
                        new { id = item.CategoryId }, 
                        new { onclick = "return confirm('Är du säker?');" })
                </td>
            }
        </tr>
    }
</table>

<br />
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Skapa ny", "Create", new { })
    </p>
}


